*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#head{
background-color:#FFFFFF;

width: 100%;
height: 70px;
display: flex;
justify-content: center;
align-items: center;

}
#head > div {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
max-width: 1200px;
padding: 0 40px;
}

#logo img{
height: 50px;
width:auto;
margin: right 12px;
}

nav ul{
    display:flex;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

}
#nav_bar_btn{
   background-color: #00a86b;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 6px;
   font-weight: 600;
   cursor:pointer;
    
}

