*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#head{
background-color:#FFFFFF;

width: 100%;
height: 70px;
display: flex;
justify-content: center;
align-items: center;

}
#head > div {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
max-width: 1200px;
padding: 0 40px;
}

#logo img{
height: 50px;
width:auto;
margin: right 12px;
}

nav ul{
    display:flex;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

}
#nav_bar_btn{
   background-color: #00a86b;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 6px;
   font-weight: 600;
   cursor:pointer;

}
#hero-section{
    background-color: #FFFFFF;
    width: 100%;
    min-height: 499px;
    display: flex;
    justify-content: center;
    position:relative;
    align-items: center;
    padding:70px, 120px,134px,120px;
}
#hero-section img{
 width: 100%; 
 
}
.hero-container{
    max-width: 800px;
    position:absolute;
  
}
/*the common styles of hero h1*/
.hero-container h1{
    font-size: 60px;
    font-weight: 700px;
    line-height:1.2em;
    margin-bottom: 20px;
}
.hero-container #color-white{
color:#FFFFFF;
}
.hero-container #color-green{
    color:#00a86b;
}
.hero-container p{
    font-size: 18px;
    font-weight: 400px;
    color:#FFFFFF;
    line-height:1.6em;
    margin-bottom: 30px;
}
.hero-button{
    display: flex;
    justify-content: center;
    gap:16px;
}

.hero-btn-1{
    width: 251px;
    height: 52px;
    color: #ffffff;
    background-color: #00a86b;
    padding: 12px,16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;


}
.hero-btn-1 img{
    height: 20px;
    width:20px;
    padding:0px 0px 0px 10px;
    margin:0px 0px 0px 3px;

}
.hero-btn-2{
   width: 198px;
    height: 52px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:12px,16px;
    border: 1px  #ffffff solid;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}
.hero-btn-2 img{
    height: 20px;
    width: 20px;
    padding:0px 10px 0px 0px;
    margin:0px 3px 0px 0px;
}
#section-2{
    width:100%;
    height:485px;
    padding:0px 50px 0px 50px;
}
.heading-and-paragraph h1{
    color:#001931;
    font-weight:bold;
    font-size: 48px;
   text-align: center;
   gap: 16px;
 
}
.heading-and-paragraph p{
    height: 32px;
    color:#627382;
    font-size: 16px;
   text-align: center;
   gap:44px;
}
#apps-section{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    width:100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
/* designing of individual app section (scattered-notes) 
1.the whole box
2.h4
3.P
4.color-box
5.img*/

#scattered-notes{
height:255px;
width: 320px;    
padding:24px 24px 24px 24px;
gap:16px;
justify-content:center;
align-items: center;
border:2px solid;
border-radius:8px;
position: relative;
}
#scattered-notes h2{
    color:#001931;
    font-weight: 700;
}
#scattered-notes p{
   font-size:16px;
}
#scattered-notes #vector{
    height:55px;
    width:55px;
    border-radius: 30px;
    background-color: #F95555;
    align-items: center;
    margin:0px 0px 0px 95px ;
}
#vector img{
    justify-content: center;
    margin:13px 0px 5px 14px;
}

/* designing of individual app section (bookmark-overload) */
#bookmark-overload{
   height:255px;
   width: 320px;    
   padding:24px 24px 24px 24px;
   justify-content:center;
   align-items: center;
   border:2px solid;
   border-radius:8px;
   position: relative;
}
#bookmark-overload h2{
    color:#001931;
    font-weight: 700;
}
#bookmark-overload p{
    font-size:16px;
}
#bookmark-overload #Bookmarks{
    height:55px;
    width:55px;
    border-radius: 30px;
    background-color: #F95555;
    align-items: center;
    margin:0px 0px 17px 95px ;
}
#Bookmarks img{
    margin:13px 0px 8px 12px;
}
/* designing of individual app section (no-idea-connections) */
#no-idea-connections{
  height:255px;
  width: 320px;    
  padding:24px 24px 24px 24px;
  gap:16px;
  justify-content:center;
  align-items: center;
  border:2px solid;
  border-radius:8px;
  position: relative;
}  
#no-idea-connections h2{
    color:#001931;
    font-weight: 700;
}
#no-idea-connections p{
   font-size:16px;  
}
#no-connections{
    height:55px;
    width:55px;
    border-radius: 30px;
    background-color: #F95555;
    align-items: center;
    margin:0px 0px 17px 95px ;

}
#no-connections img {
    margin:13px 0px 12px 12px;
}
/* designing of individual app section (forgetting-what-you-learned) */
#forgetting-what-you-learned{
  height:255px;
  width: 320px;    
  padding:20px 24px 24px 24px;
  gap:16px;
  justify-content:center;
  align-items: center;
  border:2px solid;
  border-radius:8px;
  position: relative;   
}
#forgetting-what-you-learned h2{
    color:#001931;
    font-weight: 700;
}
#forgetting-what-you-learned p{
    font-size:16px;
}
#forgetting{
    height:55px;
    width:55px;
    border-radius: 30px;
    background-color: #F95555;
    align-items: center;
    margin:0px 0px 15px 95px ;
}
#forgetting img{
    margin:11px 3px 12px 12px;
}
/*finised the designing of section-2 */

#section-3{
    width:1200px;
    padding:0px 70px 10px 70px;
    display:flex;
    gap:30px;
    justify-content: space-around;
}
#knowledge-picture img{
 height:450px;
 width:450px;
}
#discription{
    height:600px;
    width:500px;
    padding:50px 0px 0px 0px;
}
#discription h6{
    color: #00a86b;
    font-size:16px;
    line-height:20px;
}
#discription h1{
    color:#001931;
    font-size:44px;
    font-weight:bold;
}
#discription .personal-knowledge{
    color:#627382;
   font-size: 16px;
}
.similar-text{
    font-size:18px;
    line-height:40px;
}

#discription img{
    vertical-align: middle;
}

#section-4{
    width:1200px;
    height:500px;
    justify-content:center ;
}
#think-clearly{
    margin:10px 50px 50px 160px;
    padding:0px 40px 0px 40px;
    width:950px;
    height: 400px;
    background-color:#F7F6F2;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
}
#think-clearly h1{
    font-weight:bold;
    font-size:40px;
    gap:20px;
    color: #001931;
}
#think-clearly p{
    color:#627382;
    font-size:16px;

}
#section4-button{
    width: 170px;
    height: 52px;
    color: #ffffff;
    background-color: #00a86b;
    padding: 12px,9px 12px 0px;
    margin: 0px 0px 0px 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;

}
#section4-button img{
    height: 20px;
    width:20px;
    padding:0px 0px 0px 3px;
    margin:0px 0px 0px 3px;  
}